<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hebut.ego.mapper.UsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.hebut.ego.entity.Users">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="password" property="password" />
        <result column="user_name" property="userName" />
        <result column="phone" property="phone" />
        <result column="status" property="status" />
        <result column="member_point" property="memberPoint" />
        <result column="receive_name" property="receiveName" />
        <result column="receive_phone" property="receivePhone" />
        <result column="receive_address" property="receiveAddress" />
        <result column="sex" property="sex" />
        <result column="qq_account" property="qqAccount" />
        <result column="wechat_account" property="wechatAccount" />
        <result column="alipay_account" property="alipayAccount" />
        <result column="campus" property="campus" />
        <result column="note" property="note" />
        <result column="token" property="token" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
